<ion-view cache-view="false" can-swipe-back="false">
    <ion-content overflow-scroll="true">
        <div class="mainrecent">
            <div class="titler">
                <span>Your Recently Viewed Products</span>
                <div id="small_triangle">
                    <img src="assets/img/small_triangle.png" alt="pointer">
                </div>
            </div>


            <div ng-repeat="recent in recentData track by $index" style="padding:0px">


                <div class="row daysago">   
                    <div class="col-50 whenwhen" ng-show="recent.diff == 0 && recent.show == 'show'" >
                        Today
                    </div>
                    <div class="col-50 whenwhen" ng-show="recent.diff != 0 && recent.show == 'show'" >
                        {{recent.diff}} Days Ago
                    </div>
                    <div class="col-50 countno" ng-show=" recent.show == 'show'">
                        Viewed {{recent.count}} Products
                    </div>
                </div>
                <div class="row myli" ng-click="product(recent)">
                    <div class="col ">
                        {{recent.query}}
                    </div>
                </div>
                <div class="row" >
                    <div class="nonotice col" style="text-align:center" ng-show="recent.msg">
                        <div class="iconholder">
                            <img src="assets/img/nonotification.png">
                        </div>
                        <div class="msgholder">
                            <p>  {{recent.msg}}</p>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </ion-content>
    <ion-footer-bar class="myfoot" ng-if="footer_ios" >
        <div class="ios_footer">
           
                <button  class="button button-clear button-large iosbt1 " ng-hide="home_page"  ui-sref="menu.home" ng-click="iconColor('2')" ng-class="{'iosbt11':lo!=true}"> 
                <i class='icon ion-ios-home color_ch' ng-class="{'ic':cl == 2}"></i>
                <div class="tbName" ng-class="{'ic':cl == 2}">Home</div>
            </button> 
            <button  ng-show="lo" class="button button-clear button-large iosbtiosbtvie5" ui-sref="menu.login" ng-click="iconColor('1')" ng-class="{'iosbtlogin':lo!= true }">
                <i class='icon ion-person color_ch' ng-class="{'ic':cl == 1}"></i>
                <div class="tbName" ng-class="{'ic':cl == 1}"> Login</div>
            </button>  
        
            <button  class="button button-clear button-large  iosbtiosbtvie2" ng-click="iconColor('3')" ng-class="{'iosbt212':lo!= true}"  ui-sref="menu.YourAlert">
                <i class='icon ion-ios-bell color_ch' ng-class="{'ic':cl == 3}"></i>
                <div class="tbName" ng-class="{'ic':cl == 3}">Alert</div>

            </button>  
<!--            <button ng-controller="productCtrl" class="button button-clear button-large  iosbt2" ng-class="{'login_user':login == true,'iosbt21':login != true && home_page1 == true,'ic':cl == 4}" ng-click="follow(0, 0, qid);iconColor('4')" ng-if="heart" > 
                <i class='icon ion-ios-heart color_ch' ng-class="{'ic':cl == 4}"></i>
                <div class="tbName" ng-class="{'ic':cl == 4}">Follow</div>

            </button> -->
            <button  class="button button-clear button-large iosbtvie" ng-class="{'iosbt31':lo!= true}"  ng-click="iconColor('5')"ui-sref="menu.search"> 
                <i class='icon ion-ios-search-strong color_ch' ng-class="{'ic':cl == 5}"></i>
                <div class="tbName" ng-class="{'ic':cl == 5}">Search</div>
            </button> 
            <button  class="button button-clear button-large iosbt4" ui-sref="menu.more"  ng-click="iconColor('6')">
                <i class='icon ion-more color_ch' ng-class="{'ic':cl == 6}"></i>
                <div class="tbName" ng-class="{'ic':cl == 6}">More</div>
            </button>  
        </div>
</ion-view>