<ion-view can-swipe-back="false">
    <ion-nav-title>
        <i class="iostitle">{{categoryDisplay}}</i>
    </ion-nav-title>
    <ion-nav-buttons  side="right">
    </ion-nav-buttons>
    <ion-content class="has-header" overflow-scroll="true">
        <div class="all">
            <div>
                <div class="my-list">

                    <ul class="logout_ui myui" style="margin-top: 0px;margin-bottom: 0px">
                        <li class="myitemli nb" ng-repeat="value in catItems1 track by $index" ng-class="{'homeCat':homeCat == value.cat_name}" ng-click="check(value.cat_id, value.sub_cat_id, value.cat_name)" >

                            <div class="myitemh2div">
                                <p class="myp2">{{value.cat_name}}</p>
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>

                </div>
            </div>
    </ion-content>
</ion-view>