<!--filter model template-->
<ion-modal-view class="modalbackground"  style="background-color: #fff;">
    <ion-side-menus>

        <ion-side-menu-content>
            <ion-header-bar class="mainHeader">

                <h1 class="side-right">Filter</h1>
            </ion-header-bar>
            <ion-content  class="has-header myhashead" ng-class="{'myfhas':iostr==true}">
                <div class="showData" ng-class="{'mycss':abcd == true}">

                    <div ng-if="brand12" >

                        <div id="filter_options" class="filter_options"  style="overflow:hidden" >
                            <div class="sortModal"  ng-class="{'backclass1':change == brand.name}"  ng-repeat="brand in response.brands track by $index"   on-tap="displaybrands(brand.href, brand.name)" >
                                <i class="ion-ios-checkmark-empty mytick"></i> <i ng-model="choice.A" class="te" ng-value="'A'">{{brand.name}}</i>
                            </div>
                        </div>
                    </div>

                    <div ng-if="priceRange" >

                        <div id="filter_options" class="filter_options" style="overflow:hidden">
                            <div class="sortModal" ng-style="clearf" ng-class="{'backclass1':change == range }" ng-repeat="range in response.ranges track by $index"   on-tap="displayrange(range.href, range.low, range.high,range)"  >
                                <i class="ion-ios-checkmark-empty mytick"></i>   <i  ng-model="choice.A" class="te" ng-value="'A'">Rs.{{range.low}}-Rs.{{range.high}}</i>
                            </div>
                        </div>

                    </div>
                    <div ng-if="filterShow" >
                        <div id="filter_options" class="filter_options" style="overflow:hidden">
                            <div class="sortModal"  ng-style="clearf" ng-class="{'backclass1':change == fil.text}"  ng-repeat="fil in ccc track by $index"  on-tap="displayfilters(fil.url, fil.text)">
                                <i class="ion-ios-checkmark-empty mytick"></i> <i   icon="ion-android-done" class="te" ng-model="choice.A" ng-value="'A'">{{fil.text}}</i>
                            </div>
                        </div>
                    </div>

                </div>

            </ion-content>
        </ion-side-menu-content>

        <ion-side-menu>
            <ion-header-bar class="mainHeader">
                <div class="buttonsS"  ng-click="closeModal()">
                    <i class="ion-chevron-left backB" ng-class="{'backB1':iostr == true}"></i>

                    <img src="assets/img/genie-logo-g.png" ng-if="head" alt="Side Navigation">

                </div>
            </ion-header-bar>
            <ion-content class="has-header myhashead" ng-class="{'myfhas':iostr==true}">
                <div>
                    <ul class="fil ul">
                        <ion-item class="fil1 li"  ng-class="{'backclass':color == 'brand'}"  ng-click="brandModal('brand')">
                            <div class="myf"> <b>Brands</b><i class="ion-ios-checkmark-empty mytick1" ng-if="color == 'brand'"></i> </div>
                        </ion-item >
                        <ion-item  class="fil1 li"  ng-class="{'backclass':color == 'price'}"  ng-click="priceModal('price')">
                            <div class="myf"> <b>Price Range</b><i class="ion-ios-checkmark-empty mytick1" ng-if="color == 'price'"></i> </div>
                        </ion-item>
                        <ion-item class="fil1 li"  ng-class="{'backclass':color == key}"  ng-repeat='(key,data) in response.filters track by $index'ng-click="filterModal(key)">
                           <div class="myf"> <b>{{key1(key)}}</b><i class="ion-ios-checkmark-empty mytick1" ng-if="color == key"></i> </div>
                        </ion-item>
                        <div class="clearfix"></div>
                    </ul>
                    <div class="clearfix"></div>

                </div>  
            </ion-content>
        </ion-side-menu>

    </ion-side-menus>

</ion-modal-view>
